<table>
    <thead>
      <tr>
        <th>Dorsal</th>
        <th>Nombre</th>
        <th>Posición</th>
      </tr>
    </thead>
    <tbody>
      <!-- Porteros -->
      <tr>
        <td>13</td>
        <td>Adrián</td>
        <td>Portero</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Fran Vieites</td>
        <td>Portero</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Germán García</td>
        <td>Portero</td>
      </tr>
  
      <!-- Defensas -->
      <tr>
        <td>2</td>
        <td>Héctor Bellerín</td>
        <td>Defensa</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Diego Llorente</td>
        <td>Defensa</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Marc Bartra</td>
        <td>Defensa</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Natan</td>
        <td>Defensa</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Ricardo Rodríguez</td>
        <td>Defensa</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Romain Perraud</td>
        <td>Defensa</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Youssouf Sabaly</td>
        <td>Defensa</td>
      </tr>
  
      <!-- Centrocampistas -->
      <tr>
        <td>4</td>
        <td>J. Cardoso</td>
        <td>Centrocampista</td>
      </tr>
      <tr>
        <td>14</td>
        <td>William Carvalho</td>
        <td>Centrocampista</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Sergi Altimira</td>
        <td>Centrocampista</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Pablo Fornals</td>
        <td>Centrocampista</td>
      </tr>
  
      <!-- Delanteros -->
      <tr>
        <td>7</td>
        <td>Antony</td>
        <td>Delantero</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Vitor Roque</td>
        <td>Delantero</td>
      </tr>
  
    </tbody>
  
  </table>  