<section id="acerca-de">
    <div class="contenedor">
      <h2>Acerca del Real Betis Balompié</h2>
      <div class="acerca-contenido">
        <div class="acerca-texto">
          <p>El Real Betis Balompié, fundado en 1907, es un club de fútbol con sede en Sevilla, España. Conocido por su lema "Viva el Betis manquepierda", ha tenido una rica historia en el fútbol español, siendo uno de los pocos clubes que ha ganado tanto la Liga como la Copa del Rey.</p>
          <p>El equipo juega sus partidos en el Estadio Benito Villamarín, que tiene una capacidad para más de 60,000 espectadores. A lo largo de los años, el Betis ha demostrado ser un club con una gran afición y un compromiso constante con el desarrollo del fútbol.</p>
        </div>
        <div class="acerca-imagen">
        </div>
      </div>
    </div>
  </section>
  
