<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Enfrentamiento</th>
      <th>Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>15 de agosto de 2024</td>
      <td>Real Betis vs. Atlético de Madrid</td>
      <td>1 - 1</td>
    </tr>
    <tr>
      <td>22 de agosto de 2024</td>
      <td>Real Sociedad vs. Real Betis</td>
      <td>0 - 2</td>
    </tr>
    <tr>
      <td>29 de agosto de 2024</td>
      <td>Real Betis vs. Valencia CF</td>
      <td>2 - 1</td>
    </tr>
    <tr>
      <td>5 de septiembre de 2024</td>
      <td>Athletic Club vs. Real Betis</td>
      <td>1 - 0</td>
    </tr>
    <tr>
      <td>12 de septiembre de 2024</td>
      <td>Real Betis vs. Sevilla FC</td>
      <td>3 - 2</td>
    </tr>
    <tr>
      <td>19 de septiembre de 2024</td>
      <td>FC Barcelona vs. Real Betis</td>
      <td>2 - 0</td>
    </tr>
    <tr>
      <td>26 de septiembre de 2024</td>
      <td>Real Betis vs. Real Madrid</td>
      <td>1 - 3</td>
    </tr>
    <tr>
      <td>3 de octubre de 2024</td>
      <td>Celta de Vigo vs. Real Betis</td>
      <td>0 - 0</td>
    </tr>
    <tr>
      <td>10 de octubre de 2024</td>
      <td>Real Betis vs. Villarreal CF</td>
      <td>2 - 2</td>
    </tr>
    <tr>
      <td>17 de octubre de 2024</td>
      <td>Getafe CF vs. Real Betis</td>
      <td>1 - 2</td>
    </tr>
    <tr>
      <td>24 de octubre de 2024</td>
      <td>Real Betis vs. Granada CF</td>
      <td>3 - 1</td>
    </tr>
    <tr>
      <td>31 de octubre de 2024</td>
      <td>Cádiz CF vs. Real Betis</td>
      <td>0 - 1</td>
    </tr>
    <tr>
      <td>7 de noviembre de 2024</td>
      <td>Real Betis vs. Almería</td>
      <td>2 - 0</td>
    </tr>
    <tr>
      <td>14 de noviembre de 2024</td>
      <td>Rayo Vallecano vs. Real Betis</td>
      <td>1 - 1</td>
    </tr>
    <tr>
      <td>21 de noviembre de 2024</td>
      <td>Real Betis vs. Eibar</td>
      <td>2 - 1</td>
    </tr>
    <tr>
      <td>28 de noviembre de 2024</td>
      <td>Levante UD vs. Real Betis</td>
      <td>0 - 2</td>
    </tr>
   <tr>
      <td>5 de diciembre de 2024</td>
      <td>Real Betis vs. Osasuna</td>
      <td>1 - 0</td>
    </tr>
    <tr>
      <td>12 de diciembre de 2024</td>
      <td>Mallorca vs. Real Betis</td>
      <td>1 - 2</td>
    </tr>
    <tr>
      <td>19 de diciembre de 2024</td>
      <td>Real Betis vs. Espanyol</td>
      <td>2 - 2</td>
    </tr>
    <tr>
      <td>26 de diciembre de 2024</td>
      <td>Elche vs. Real Betis</td>
      <td>0 - 1</td>
    </tr>
    <tr>
      <td>2 de enero de 2025</td>
      <td>Real Betis vs. Celta de Vigo</td>
      <td>1 - 1</td>
    </tr>
    <tr>
      <td>9 de enero de 2025</td>
      <td>Girona FC vs. Real Betis</td>
      <td>2 - 1</td>
    </tr>
    <tr>
      <td>16 de enero de 2025</td>
      <td>Real Betis vs. Getafe</td>
      <td>2 - 0</td>
    </tr>
    <tr>
      <td>23 de enero de 2025</td>
      <td>Athletic Club vs. Real Betis</td>
      <td>3 - 2</td>
    </tr>
    <tr>
      <td>30 de enero de 2025</td>
      <td>Real Betis vs. FC Barcelona</td>
      <td>1 - 2</td>
    </tr>
   <tr>
      <td>6 de febrero de 2025</td>
      <td>Real Madrid vs. Real Betis</td>
      <td>0 - 1</td>
    </tr>
    <tr>
      <td>13 de febrero de 2025</td>
      <td>Real Betis vs. Real Sociedad</td>
      <td>1 - 1</td>
    </tr>
    <tr>
      <td>20 de febrero de 2025</td>
      <td>Valencia CF vs. Real Betis</td>
      <td>--</td>
    </tr>
    <tr>
      <td>27 de febrero de 2025</td>
      <td>Real Betis vs. Athletic Club</td>
      <td>--</td>
    </tr>
   <tr>
      <td>6 de marzo de 2025</td>
      <td>Sevilla FC vs. Real Betis</td>
      <td>--</td>
    </tr>
    <tr>
      <td>13 de marzo de 2025</td>
      <td>Real Betis vs. FC Barcelona</td>
      <td>--</td>
    </tr>
    <tr>
      <td>20 de marzo de 2025</td>
      <td>Real Madrid vs. Real Betis</td>
      <td>--</td>
    </tr>
    <tr>
      <td>27 de marzo de 2025</td>
      <td>Real Betis vs. Celta de Vigo</td>
      <td>--</td>
    </tr>
   <tr>
      <td>3 de abril de 2025</td>
      <td>Villarreal CF vs. Real Betis</td>
      <td>--</td>
    </tr>
   <tr>
      <td>10 de abril de 2025</td>
      <td>Real Betis vs. Getafe CF</td>
      <td>--</td>
    </tr>
   <tr>
      <td>17 de abril de 2025</td>
      <td>Granada CF vs. Real Betis</td>
      <td>--</td>
    </tr>
   <tr>
      <td>24 de abril de 2025</td>
      <td>Real Betis vs. Cádiz CF</td>
      <td>--</td>
    </tr>
  </tbody>
</table>
