body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  thead {
    background-color: #00954C; /* Verde Betis */
    color: white;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  tr:hover {
    background-color: #e8f5e9; /* Verde claro al pasar el ratón */
  }
  
  tbody td:first-child {
    font-weight: bold;
    color: #00954C; /* Verde Betis para los dorsales */
  }
  
  @media screen and (max-width: 600px) {
    table {
      font-size: 14px;
    }
    
    th, td {
      padding: 10px;
    }
  }
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
    overflow: auto;
    padding: 20px;
  }
  
  .table-container {
    max-height: calc(100vh - 200px); /* Ajusta este valor según la altura de tu header y footer */
    overflow-y: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  