
<nav>
    <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6OD9TLgJ_cHspsMhE4kEAr0vCI95nZwKrMw&s" alt="Logo">
        <h1>Socios Real betis</h1>
    </div>
    <br>
    <ul class="menu">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
        <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
        <li><a routerLink="/acerca-de" routerLinkActive="active">Acerca de</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
    </ul>
</nav>
