<section id="servicios">
    <div class="contenedor">
      <h2>Servicios del Real Betis</h2>
      
      <div class="servicio">
        <h3>Alquiler de Pistas</h3>
        <p>Disfruta de nuestras instalaciones deportivas de primera clase. Alquila pistas de fútbol, tenis y pádel.</p>
      </div>
  
      <div class="servicio">
        <h3>Venta de Merchandising</h3>
        <p>Llévate a casa los colores del Betis. Amplia gama de productos oficiales, desde camisetas hasta accesorios.</p>
      </div>
  
      <div class="servicio">
        <h3>Visitas al Estadio</h3>
        <p>Conoce el corazón del Benito Villamarín con nuestros tours guiados. Explora los vestuarios, el túnel de jugadores y más.</p>
      </div>
  
      
  
    </div>
  </section>
  