<section id="ultimos-partidos">
  <h2>Últimos Partidos</h2>
  
  <div class="partido ganado">
      <h3>Último Partido Ganado</h3>
      <p><strong>Fecha:</strong> 13 de febrero de 2025</p>
      <p><strong>Enfrentamiento:</strong> Real Betis vs. Real Sociedad</p>
      <p><strong>Resultado:</strong> 1 - 1</p>
  </div>

  <div class="partido perdido">
      <h3>Último Partido Perdido</h3>
      <p><strong>Fecha:</strong> 6 de febrero de 2025</p>
      <p><strong>Enfrentamiento:</strong> Real Madrid vs. Real Betis</p>
      <p><strong>Resultado:</strong> 0 - 1</p>
  </div>

  <div class="partido empatado">
      <h3>Último Partido Empatado</h3>
      <p><strong>Fecha:</strong> 20 de febrero de 2025</p>
      <p><strong>Enfrentamiento:</strong> Valencia CF vs. Real Betis</p>
      <p><strong>Resultado:</strong> --</p>
  </div>
  <a routerLink="/partidos" routerLinkActive="active" class="button"> Ver todos los partidos</a>
</section>
<section id="ultimo-fichaje">
  <h2>Último Fichaje</h2>
  <p><strong>Jugador:</strong> Víctor Roque</p>
  <p><strong>Posición:</strong> Delantero</p>
</section>

<section id="proximos-partidos">
  <h2>Próximos Partidos</h2>
  <ul>
      <li>27 de febrero de 2025: Real Betis vs. Athletic Club</li>
      <li>6 de marzo de 2025: Sevilla FC vs. Real Betis</li>
      <li>13 de marzo de 2025: Real Betis vs. FC Barcelona</li>
  </ul>
</section>

<section id="hazte-socio">
  <h2>Hazte Socio</h2>
  <p>¡Únete a la familia bética y disfruta de todos los beneficios!</p>
  <a href="#">Más información</a>
</section>